* {
    margin: 0px;
    padding: 0px;
}
.espaco {
    padding: 15px;
}
.texto1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
.texto2 {
    
    font-size: 25px;
    padding: 130px;
    color: #0069d9;
}
#container {
    margin: 0 auto;
    width: 700px;
    height: 800px;
}
#cabecalho {
    background: linear-gradient(blue, #ffffff);
    width: 700px;
    height: 100px;
    float: top;
}

#corpo {
   
    width: 700px;
    height: 600px;   
}
#menuLateral {
    
    width: 200px;
    height: 600px;
    float: left;
}
#conteudoLateral {

    width: 500px;
    height: 600px;
    float: right;
}
#lateral01 {
    
    width: 500px;
    height: 300px;
    float: top;
}
#lateral02 {
   
    width: 500px;
    height: 300px;
    float: bottom;
}
#rodape {
    background: linear-gradient(#ffffff, blue);
    width: 700px;
    height: 100px;
    float: bottom;
}
