* {
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 450px) {
    #menu-topo, #categoria-produtos {
        display: none;
    }
    #pagina {
 margin: auto;    
    }

    #pagina, #cabecalho, #rodape, #corpo-pagina {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 400px;
    }    
    #cabecalho, #rodape {
        height: 50px;
    }  
    
    #destaques {
        height: 598px;
    }  
}



@media only screen and (max-width: 900px) {
    #menu-topo, #categoria-produtos {
        display: none;
    }
    #pagina {
 margin: auto;    
    }

    #pagina, #cabecalho, #rodape, #corpo-pagina {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 400px;
    }    
    #cabecalho, #rodape {
        height: 50px;
    }  
    
    #destaques {
        height: 598px;
    }  
}





#pagina, #cabecalho, #rodape, #menu-topo, #corpo-pagina {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 800px;
}
#pagina {
    margin: auto;
}
#cabecalho, #rodape {
    height: 100px;
}
#menu-topo {
    height: 150px;
}
#corpo-pagina {
    height: 500px;
}
#categoria-produtos, #destaques {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    height: 498px;
    float: left;
}
#categoria-produtos {
    width: 149px;
   
}
#destaques {
    width: 647px;
}